<html>

<head>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body>


  <header>

    <div class="home-logo">
      <a href="/"><img id="img-home-logo" src="/images/makersbnb.png" alt="logo" /></a>
    </div>

    <h1> MakersBnB </h1>
    <p> Find the perfect remote cabin to invite your cohort friends! </p>
    <p> All locations off the grid, shovels provided. </p>

    <div class="user-interactions">
      <% if @user %>

      <div class="user-welcome">Hello, <%= @user.name %> </div>
      <div class="fun-buttons">
        <form class="list_space" action="/listings/new" action="get">
          <button type="submit">List Your Space</button>
        </form>
      </div>
      <div class="fun-buttons">
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Log Out</button>
        </form>
      </div>

      <% else %>

      <div class="fun-buttons">
        <form action="/session/new" method="get">
          <button type="submit">Log In</button>
        </form>
      </div>
      <div class="fun-buttons">
        <form action="/user/new" method="get">
          <button type="submit">Sign Up</button>
        </form>
      </div>
      <% end %>
    </div>
  </header>
  <div class="spacer">
  </div>

  <div class="listings-header">
    <h1>Listings</h1>
  </div>

  <div class='listings'>
    <% @listings.each do |listing| %>
    <div class='listing' id='listing-<%= listing.id %>'>
      <img class="listing-image" src="/images/listings/listing_img_001.jpg">
      <div class="listing-details">
        <div class='listing-name'><%= listing.name %></div>  
        <span class='price-text'> price per night </span>
        <span class='listing-price-per-night'>£<%= listing.price_per_night.to_f %>0</span>  
        <div class='listing-description'><%= listing.description %></div>
        <div class='availability'> Availability </div>
        <span class='listing-start-date'><%= listing.start_date %> - </span>
        <span class='listing-end-date'><%= listing.end_date %></span>
      </div>
    </div>
    <% end %>

  </div>
</body>

</html>