<h1> MakersBnB </h1>

<form action="/listings/new">
  <input type="submit" value="List Your Space" />
</form>

<div class='listings'>

  <% @listings.each do |listing| %>
  <div class='listing' id='listing-<%= listing.id %>'>
    <div class='listing-name'><em><%= listing.name %></em></div>
    <div class='listing-description'><%= listing.description %></div>
    <div class='listing-price-per-night'>£<%= listing.price_per_night.to_f %></div>
    <div class='listing-start-date'><%= listing.start_date %></div>
    <div class='listing-end-date'><%= listing.end_date %></div>
  </div>
  <% end %>

</div>